<% if @results.any? %>
    <h2>Guests:</h2>
    <% @results.each do |guest| %>
        <div><%= guest.last_name %>, <%= guest.first_name %>  <%= guest.table.name %></div>
    <%end%>
<% else %>
    There were no results for that guests's name
<% end %>