<%= render 'shared/top_banner' %>
<h1>Enter your last name to find your table</h1>
<%= form_tag("#{search_guests_path}", method: "get") do %>
    <%= text_field_tag(:last_name) %>
    <%= submit_tag("Search") %>
<% end %>