<div class="return"><a class="button search" href=<%= root_path %>>Search for new name</a></div>
<script>
    $(setTimeout(function() {
        window.location.href = "<%= root_url %>"
    }, 20000));
</script>