<h1>Tables</h1>
<% @tables.each do |table| %>
    <h3><%= table.name %></h3>
    <% table.guests.each do |guest| %>
        <p><%= guest.last_name %>, <%= guest.first_name %></p>
    <%end%>
    <br>
<%end%>

