/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Cinzel Decorative';
}

.top {
    width: 100%;

    .banner {
      width: 390px;
      background-image: asset-url("couple.png");
      background-size: 400px 300px;
      height: 300px;
     }

    .welcome {
      position: absolute;
      width: 50%;
      left: 340px;
      top: 6px;
      color: #871328;

      h1 {
        font-size: 80px;
        margin: 0;
        font-family: 'Sofia';
      }

      h2 {
        font-size: 30px;
        margin: 0;
      }
    }
}

.rail {
    background-color: #871328;
    float: left;
    width: 10%;
    height: 100%;
}

.center {
    float: left;
    background-color: #fefae3;
    width: 80%;
    height: 100%;
}

.center * {
    padding-left: 10px
}

input[type=text] {
  width: 250px;
}

.return {
  margin: auto;
  width:50%;
  padding-top: 15px;
  text-align: center;
  .button.search {
    padding: 10px 15px 10px 15px;
  }
}

input {
  font-size: 18px;
}

.button,
input[type=submit] {
  width: 100px;
  padding: 4px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #871328;
  color: #fffde3;
  text-decoration: none;
}

.button:focus,
.button:hover,
input[type=submit]{
  background-color: #7a182f;
}

p {
  font-size: 20px;
}