// Place all the styles related to the guest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.result_name {
  width: 50%;
  alignment: left;
}

.map_button {
  width: 25%;
  alignment: left;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #a11935;
  color: #fffde3;
  text-decoration: none;
}

.map_button:focus,
.map_button:hover {
  background-color: #7a182f;
}