// Place all the styles related to the guest controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.results {
  text-align: left;
  .result {
    padding-bottom: 15px;
    font-size: 20px;
  }
  .result_name {
    float: left;
    padding-left: 0;
    width: 40%;
  }

  .table_name {
    float: left;
    width: 20%;
    padding-left: 20px;
  }

  .map.button {
    padding: 5px 8px 5px 8px;
  }
}

.add-guest {
  width: 120px;
}